.home {
    width: min(
        calc(100% - 3rem),
        var(--page-width)
    );

    margin-inline: auto;
    padding-block: 3rem;
}

@media (max-width: 40rem) {
    .home {
        width: min(
            calc(100% - 2rem),
            var(--page-width)
        );

        padding-block: 2rem;
    }
}
