{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en-gb' }}">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>{% block title %}Vocabio{% endblock %}</title>

    <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="{% static 'images/favicon/favicon-32x32.png' %}"
    >

    <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="{% static 'images/favicon/favicon-16x16.png' %}"
    >

    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="{% static 'images/favicon/apple-touch-icon.png' %}"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/base.css' %}"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/components/button.css' %}"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/components/form.css' %}"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/components/messages.css' %}"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/components/header.css' %}"
    >

    {% block extra_css %}{% endblock %}
</head>

<body>
    {% include "components/header.html" %}

    <main class="page">
        {% include "components/messages.html" %}

        {% block content %}{% endblock %}
    </main>

    {% block extra_js %}{% endblock %}
</body>
</html>
