{% load static %}

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>
        {% block title %}Vocabio{% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'css/base.css' %}"
    >

    {% block extra_css %}{% endblock %}
</head>

<body>
    <main class="page">
        {% block content %}{% endblock %}
    </main>

    {% block extra_js %}{% endblock %}
</body>
</html>
